* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}


/* Header */

.header_container .menu li a,
.header_container .menu li {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}

.header_container .menu li:hover {
    background-color: rgb(177, 238, 255);
}


/* HOME */

#home_img {
    width: 50%;
}


/* PRODUCTS */

.products_body h1:first-child,
.news_main h1:first-child,
.home_main h1:first-child {
    font-size: 2.5em;
    color: grey;
    margin-top: 20px;
}

.products_body img {
    width: 35%;
    margin-bottom: 50px;
}

.products_body .type {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 3.2em;
}


/* Footer */

.footer_container ul li a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.footer_container ul li {
    list-style: none;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.footer_container ul {
    margin-bottom: 30px;
}

.footer_container ul li:first-child {
    margin-top: 10px;
}

.info_list li {
    margin: 0;
    font-size: 0.8em;
}

.maiusc_list li {
    text-transform: uppercase;
}

.info_list a {
    color: grey;
    text-decoration: none;
}